﻿@using PagedList;
@using PagedList.Mvc;
@using LiveClasses
@model IPagedList<LiveClasses>

@{
    ViewBag.Title = "Index";
}

<p>
    @Html.ActionLink("Create New", "Add")
</p>

@if (TempData["failuremsg"] != null)
{
    <p class="alert alert-danger" id="alertMessage">@TempData["failuremsg"]</p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().LiveClassId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Title)
        </th>
        <th>
            @Html.DisplayName("SubjectName")
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Teachers.FirstName)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.First().Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().StartTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Duration)
        </th>
        <th></th>
    </tr>
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LiveClassId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Subject.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Teachers.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.LiveClassId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.LiveClassId }, new { @class = "btn btn-danger", onclick = "return confirm('Are sure wants to delete?');" })
                </td>
            </tr>
        }
    }
    else
    {
        <tr>
            <td colspan="5"><span>No Records found!</span></td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new
{
    page
}))
