﻿@using LiveClasses.Models
@model DashboardData
@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-info">
            <div class="inner">
                <h3>@ViewBag.TotalLiveClass</h3>

                <p>Total Live Classes </p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-warning">
            <div class="inner">
                <h3>@ViewBag.TotalTeachers</h3>

                <p>Total Teachers </p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-6">
        <!-- small box -->
        <div class="small-box bg-danger">
            <div class="inner">
                <h3> @ViewBag.TotalAttendence </h3>

                <p> Total Number of Student Attended  </p>
            </div>
            <div class="icon">
                <i class="ion ion-bag"></i>
            </div>
        </div>
    </div>
</div>
<!-- completed live classes -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Completed Live Classes </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th> Subject </th>
                            <th> Title </th>
                            <th> Duration </th>
                            <th> Date </th>
                            <th> Time </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.CompletedLiveClass)
                        {
                            <tr>
                                <td> @item.Subject </td>
                                <td>  @item.Title</td>
                                <td>@item.Duration </td>
                                <td> @item.Date.ToString("dd/MM/yyyy") </td>
                                <td> @item.Time</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->
<!-- Up Coming Live Classes -->
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Up Coming Live Classes </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0" style="height: 300px;">
                <table class="table table-head-fixed text-nowrap">
                    <thead>
                        <tr>
                            <th> Subject </th>
                            <th> Title </th>
                            <th> Duration </th>
                            <th> Date </th>
                            <th> Time </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.UpComingLiveClass)
                        {
                            <tr>
                                <td> @item.Subject </td>
                                <td>  @item.Title</td>
                                <td>@item.Duration </td>
                                <td> @item.Date.ToString("dd/MM/yyyy") </td>
                                <td> @item.Time</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
<!-- /.row -->
<!-- Top 5 Teachers who take maximum Live Classes -->
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Top 5 Teachers who take maximum Live Classes </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> TeacherId</th>
                            <th> TeacherName</th>
                            <th> Live Lecture Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.TopFiveMaximumClasses)
                        {
                            <tr>
                                <td> @item.Id </td>
                                <td>  @item.Name</td>
                                <td><span class="badge bg-danger"> @item.TotalCount </span></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title"> Top 5 Live Classes with maximum student attend </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th> LiveClassId</th>
                            <th> User Count </th>
                            <th> Teacher Name</th>
                            <th> Title </th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewBag.MaxAttendences)
                        {
                            <tr>
                                <td> @item.LiveId </td>
                                <td>  @item.TotalCount</td>
                                <td> </td>
                                <td></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
